

# -----------------------
# Python / vector-pipeline
# -----------------------
vector-pipeline/venv/
vector-pipeline/__pycache__/
vector-pipeline/*.py[cod]
vector-pipeline/*.pyo
vector-pipeline/*.pyd
vector-pipeline/*.env
vector-pipeline/*.egg-info/
vector-pipeline/*.eggs/
vector-pipeline/*.whl

# -----------------------
# IDE / OS files
# -----------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db

# -----------------------
# Logs
# -----------------------
*.log

# -----------------------
# Python test / coverage
# -----------------------
vector-pipeline/.coverage
vector-pipeline/htmlcov/
vector-pipeline/.pytest_cache/
vector-pipeline/nosetests.xml
vector-pipeline/coverage.xml
vector-pipeline/*.cover